@font-face {
  font-family: "배민한나는열한살체";
  src: url("../BMHANNA_11yrs_ttf.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "배민한나는열한살체";
}

.container {
  @apply w-full max-w-md mx-auto p-4;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
